<%- model_class = Holiday -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:employee_name) %></th>
      <th><%= model_class.human_attribute_name(:start_date) %></th>
      <th><%= model_class.human_attribute_name(:end_date) %></th>
      <th><%= model_class.human_attribute_name(:days) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
       <% if user_signed_in? && current_user.admin == false %>
        <th><%= model_class.human_attribute_name(:approveed) %></th>
       <% end %>
      <% if user_signed_in? && current_user.admin == true %>
        <th><%= model_class.human_attribute_name(:approve) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @holidays.each do |holiday| %>
      <tr>
        <td><%= holiday.user.email %></td>
        <td><%= holiday.start_date %></td>
        <td><%= holiday.end_date %></td>
        <td><%= holiday.days %></td>
        <td><%= holiday.created_at.to_formatted_s(:long) %></td>
        <% if user_signed_in? && current_user.admin == false %>
          <%  if  holiday.approve == true %>
              <td>Approve</td>
            <% else %>
              <td>Disapprove</td>
            <% end %>
        <% end %>
        <% if user_signed_in? && current_user.admin == true %>
            <% if holiday.approve == false %>
              <td><%= link_to "NotApprove", holidays_approve_path(holiday), :method => :post , :class => 'btn btn-mini'%></td>
            <% else %>
              <td><%= link_to "Approve", holidays_approve_path(holiday), :method => :post , :class => 'btn btn-mini'%></td>
            <% end %>
        <% end %>
        <td>
        <% if user_signed_in? && current_user.admin == true %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        holiday_path(holiday),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

