<h1>Listing users</h1>

<table>
  <tr>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 <tbody id="users">
<% @users.each do |user| %>
<%= render "user", :user => user %>
<% end %>
</tbody>
</table>
<%#= link_to "New user", welcome_new_path, :remote => true, :id => "new_user_link" %>
<%= form_tag welcome_new_path, :class => "reg_form", :remote => true, :method => :get  do |f| %> 
  <%#= devise_error_messages! %>
  <div class="field">
    <%= label_tag :email %><br />
    <%= email_field_tag :email %>
  </div>

  <div class="field">
    <%= label_tag :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= password_field_tag :password %>
  </div>

  <div class="field">
    <%= label_tag :password_confirmation %><br />
    <%= password_field_tag :password_confirmation  %>
  </div>

  <div class="actions">
    <%= submit_tag "Sign up" %>
  </div>
<% end %>